*{
  margin: 0;
  padding: 0;
  box-shadow: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: linear-gradient( 90deg, #4689ee 10%, #9446fa 100%);
  min-height: 100vh;
}

h1{
  margin-top: 100px;
  font-size: 80px;
  color: #ffffff;
}

textarea {
  margin-top: 30px;
  width: 600px;
  height: 250px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff00;
  color: white;
  outline: none;
  box-shadow: -15px -15px 0px #f1f1f190, 15px 15px 0px #f1f1f190;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  background-color: #f8f8f869;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #f8f8f84b;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
